<section class="bg-white">
  <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
    <aside class="relative block h-16 lg:order-last lg:col-span-5 lg:h-full xl:col-span-6">
      <img
        alt="Pattern"
        src="https://images.unsplash.com/photo-1605106702734-205df224ecce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        class="absolute inset-0 h-full w-full object-cover"
      />
    </aside>

    <main
      aria-label="Main"
      class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:py-12 lg:px-16 xl:col-span-6"
    >
      <div class="max-w-xl lg:max-w-3xl">

        <div onclick="location.href='/'" class="cursor-pointer">
          <img
            alt="ProPay"
            src="https://res.cloudinary.com/dyjiz4nff/image/upload/v1680124652/Deployed/Propay/yg7nmlvuiyaacyremugq.png"
            class="h-24 w-auto"
          />
        </div>


        <h1 class="mt-6 text-2xl font-bold text-gray-900 sm:text-3xl md:text-4xl">
          Welcome to ProPay
        </h1>

        <p class="mt-4 leading-relaxed text-gray-500">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi nam dolorum aliquam,
          quibusdam aperiam voluptatum.
        </p>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="mt-8 grid grid-cols-6 gap-6">
          <div class="col-span-6">
            <%= f.label :name, class: "block text-sm font-medium text-gray-700" %> 
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "mt-1 w-full rounded-md
            border-gray-200 bg-white text-sm text-gray-700 shadow-sm" %>
          </div>

          <div class="col-span-6">
            <%= f.label :email, class: "block text-sm font-medium text-gray-700" %> <%=
            f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 w-full
            rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm" %>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <%= f.label :password, class: "block text-sm font-medium text-gray-700", autocomplete:
            "new-password" %>
            <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 w-full
            rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <%= f.label :password_confirmation, class: "block text-sm font-medium text-gray-700" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1
            w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm" %>
          </div>
          <div>
            <%= f.submit "Sign up", class: "block rounded-lg bg-indigo-600 px-5 py-3 text-sm
            font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring" %>
          </div>
        </div>
        <%end %> <%= render "devise/shared/links" %>
      </div>
    </main>
  </div>
</section>
